<div class="item">
  <div class="time-box">
    <div class="dot"></div>
    <div class="time"><a href="{{ assets_prefix }}{{ article.id }}/" class="item-link">{{ article.created|formatDate }}</a></div>
  </div>
  <!-- box for HTML content -->
  {% if article.title.count > 0 %}
  <div class="title-box">
    {{ article.title|escape }}
  </div>
  {% endif %}
  {% if article.content.count > 0 %}
  <div class="text-box content"{% if current_item_type == "blog" %} id="main-content"{% endif %}>
    {% if current_item_type == "blog" %}
    {{ content_html }}
    {% else %}
      {% if article.contentRendered.count > 0 %}
        {{ article.contentRendered }}
      {% else %}
        {{ article.content }}
      {% endif %}
    {% endif %}
  </div>
  {% endif %}
  {% if article.heroImage != nil %}
  <!-- box for image with object-fit and aspect-ratio -->
  <div class="image-box">
    <img src="{{ article.heroImage }}" />
  </div>
  {% endif %}
</div>
