<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>{% block title %}{{ page_title|escape }}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if has_avatar %}
  <link rel="apple-touch-icon" href="{{ assets_prefix }}avatar.png" />
  <link rel="shortcut icon" href="{{ assets_prefix }}favicon.ico" />
  {% endif %}

  <link rel="stylesheet" href="{{ assets_prefix }}assets/normalize.css">
  <link rel="stylesheet" href="{{ assets_prefix }}assets/style.css?sha256={{ style_css_sha256 }}">

  <meta name="theme-color" content="#f4f1ec">
  <script src="{{ assets_prefix }}assets/sepia.js" type="text/javascript"></script>
  <script type="text/javascript">
    let userAgentRegex = /Planet\/\S*/;
    window.PLANET = {
      visitedFromPlanetClient: !!navigator.userAgent.match(userAgentRegex),
      assetsPrefix: '{{ assets_prefix }}',
    };

    document.addEventListener('DOMContentLoaded', () => {
    {% block dom_ready %}
    {% endblock %}
    });
  </script>
  <style>
  :root {
    {% if user_settings['backgroundColor'] %}
    --background-color: {{ user_settings['backgroundColor'] }};
    {% endif %}

    {% if user_settings['foregroundColor'] %}
    --foreground-color: {{ user_settings['foregroundColor'] }};
    {% endif %}

    {% if user_settings['highlightColor'] %}
    --highlight-color: {{ user_settings['highlightColor'] }};
    {% endif %}
  }
  </style>
  {% if planet.plausibleEnabled %}
  <script defer data-domain="{{ planet.plausibleDomain }}" src="https://{{ planet.plausibleAPIServer }}/js/plausible.local.js"></script>
  {% endif %}
  {% if custom_code_head.count > 0 %}{{ custom_code_head }}{% endif %}
</head>

<body>
  <div id="wrapper">
  <div id="modal" onclick="dismissModal()">
    <img id="modal-img" />
  </div>
  <div id="container">
    <div id="main-container">
      {% block main %}
      {% endblock %}
    </div>
    <div id="aside-container">
      {% block aside %}
      <div class="nav">
        <div class="nav-item">
          <img class="nav-icon" />
          <a href="{{ assets_prefix }}index.html" class="nav-link{% if current_item_type == "index" %} current{% endif %}">Home</a>
        </div>
        {% for item in site_navigation %}
        <div class="nav-item">
          <img class="nav-icon" />
          <a href="{% if item.externalLink.count > 0 %}{{ item.externalLink }}{% else %}{{ assets_prefix }}{% if item.slug.count > 0 %}{{ item.slug }}{% else %}{{ item.id }}{% endif %}/{% endif %}" class="nav-link{% if item.id == article_id %} current{% endif %}"{% if item.externalLink.count > 0 %} target="_blank"{% endif %}>{{ item.title|escape }}</a>
        </div>
        {% endfor %}
        {% if planet.tags.count > 0 %}
        <div class="nav-item">
          <img class="nav-icon" />
          <a href="{{ assets_prefix }}tags.html" class="nav-link{% if current_item_type == "tags" %} current{% endif %}">Tags</a>
        </div>
        {% endif %}
        <div class="nav-item">
          <img class="nav-icon" />
          <a href="{{ assets_prefix }}archive.html" class="nav-link{% if current_item_type == "archive" %} current{% endif %}">Archive</a>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  </div>
</body>
</html>
