{% extends "base.html" %}
{% block dom_ready %}
if (window.PLANET.visitedFromPlanetClient) {
  let aside = document.getElementById("aside-container");
  if (aside) {
    aside.style.display = "none";
  }
  let main = document.getElementById("main-container");
  if (main) {
    main.style.borderRight = "none";
    main.style.borderBottom = "none";
    main.style.marginRight = "0";
  }
}

const todos = document.querySelectorAll('li:has(input[type="checkbox"])');
let i = 1;
todos.forEach(item => {
  item.id = "todo-item-" + i;
  i++;
});

const items = document.querySelectorAll('.item');
const item = items[0];
if (item) {
  decorateItem(item);
}
{% endblock %}
{% block main %}
<div id="breadcrumb">
    <img src="{% if has_avatar %}{{ assets_prefix }}avatar.png{% else %}https://zora.co/api/avatar/{{ planet_ipns }}{% endif %}" class="breadcrumb-avatar" />
    <div class="breadcrumb-title"><a href="{{ assets_prefix }}index.html">{{ planet.name|escape }}</a></div>
</div>
{% include "modules/item.html" %}
<style type="text/css">
.item {
  margin-left: 7px;
}
</style>
{% endblock %}
