{% extends "base.html" %}
{% block dom_ready %}
const items = document.querySelectorAll('.item');
for (let i = 0; i < items.length; i++) {
  const item = items[i];

  decorateItem(item);
}

// Select all video elements on the page
      const videos = document.querySelectorAll('video');

      videos.forEach(video => {
        video.muted = true; // Mute the video to avoid autoplay restrictions
        video.loop = true; // Enable video looping

        // Initially, hide the controls
        video.controls = false;

        // Show controls when hovering over the video
        video.addEventListener('mouseover', function() {
            video.controls = true;
        });

        // Hide controls when the mouse leaves the video
        video.addEventListener('mouseout', function() {
            video.controls = false;
        });
    });

      // Function to play/pause videos based on visibility
      const videoObserver = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const video = entry.target;
            if (entry.isIntersecting) {
              console.log("Video is in the viewport, start playing");
                // Video is in the viewport, start playing
                video.play().catch(error => {
                    console.error("Video failed to play automatically:", error);
                });
            } else {
                // Video is out of the viewport, pause playing
                video.pause();
            }
        });
    }, {
        threshold: 0.5 // Adjust this threshold if needed
    });

      // Observe each video
      videos.forEach(video => {
          videoObserver.observe(video);
      });
{% endblock %}
{% block main %}
{% include "modules/site_header.html" %}
{% if tag_key %}
<div class="section-title">{{ tag_value }}</div>
{% endif %}
<div class="items">
  {% for article in articles %}
  {% include "modules/item.html" %}
  {% endfor %}
</div>
{% if total_pages > 1 %}
<div class="pages-container">
  {% if previous_page %}
  <a href="./{{ previous_page }}" class="page">Prev</a>
  {% else %}
  <span class="page-placeholder">&nbsp;</span>
  {% endif %}
  <div class="pages-info">{% if total_pages > 1 %}Page {{ current_page }} of {{ total_pages }}{% else %}&nbsp;{% endif %}</div>
  {% if next_page %}
  <a href="./{{ next_page }}" class="page">Next</a>
  {% else %}
  <span class="page-placeholder">&nbsp;</span>
  {% endif %}
</div>
{% endif %}
{% endblock %}
