{% extends "base.html" %}
{% block main %}
<div id="header">
  <img src="{{ assets_prefix }}avatar.png" class="header-avatar" />
  <div class="header-title">{{ planet.name|escape }}</div>
</div>
<div class="text-box" id="site-intro">
  {{ page_description_html }}
</div>
<div class="section-title">Tags</div>

<!-- START: tag list -->
<div class="tag-cloud">
{% for tag in tags %}
<div class="tag-cloud-item">
  <a href="{{ assets_prefix }}{{ tag }}.html">{{ tags[tag] }}</a>
  <span class="tag-cloud-item-count">{{ tag_articles[tag].count }}</span>
</div>
{% endfor %}
</div>
<!-- END: tag list -->
{% endblock %}
